<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <title>Image | Silk-UI</title>
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/components.css" />
  </head>
  <body>
    <nav class="navbar-container">
      <div class="navbar">
        <div class="navbar-header">
          <img
            src="../assets/nav-logo.png"
            alt="library logo"
            class="nav-logo"
          />
          <a href="/">Silk UI</a>
        </div>
        <div class="navigation-links">
          <ul class="links-container">
            <a
              href="../index.html"
            >
              <button class="btn btn-secondary">
                <i class="fas fa-home mr-2"></i>Home
              </button>
            </a>
            <a
              href="https://github.com/nikhil-sharma-nks/Silk-UI"
              target="_blank"
            >
              <button class="btn btn-secondary">
                <i class="fab fa-github mr-2"></i>Github
              </button>
            </a>
            <a
            href="https://www.linkedin.com/in/nikhil-sharma-nks/"              target="_blank"
            >
              <button class="btn btn-secondary">
                <i class="fab fa-linkedin mr-2"></i>LinkedIn</button>
              </button>
            </a>
          </ul>
        </div>
      </div>
    </nav>
    <main class="main-content">
      <aside class="component-drawer">
        <div class="component-drawer-header py-3">Getting Started</div>
        <ul>
          <li class="component-item">
            <a class="component-link  " href="/introduction.html">Introduction</a>
          </li>
          <li class="component-item">
            <a class="component-link " href="/installation.html">Installation</a>
          </li>
        </ul>
        <div class="component-drawer-header py-3">Components</div>
        <ul>
          <li class="component-item">
            <a class="component-link" href="/components/avatar.html">Avatar</a>
          </li>
          <li class="component-item">
            <a class="component-link" href="/components/alert.html">Alert</a>
          </li>
          <li class="component-item">
            <a class="component-link" href="/components/badge.html">Badge</a>
          </li>
          <li class="component-item">
            <a class="component-link" href="/components/button.html">Button</a>
          </li>
          <li class="component-item">
            <a class="component-link" href="/components/card.html">Card</a>
          </li>
          <li class="component-item">
            <a
              class="component-link current-component"
              href="/components/image.html"
              >Images</a
            >
          </li>
          <li class="component-item">
            <a class="component-link" href="/components/input.html">Input</a>
          </li>
          <li class="component-item">
            <a class="component-link" href="/components/text.html"
              >Test Utilities</a
            >
          </li>
          <li class="component-item">
            <a class="component-link" href="/components/list.html">Lists</a>
          </li>
          <li class="component-item">
            <a class="component-link" href="/components/navigation.html"
              >Navigation</a
            >
          </li>
        </ul>
      </aside>
      <section class="content">
        <div class="component-heading">
          <div class="h1" id="image">
            <a href="#image">Image</a>
          </div>
        </div>
        <div class="component-description">
          Documentation and examples for opting images into responsive behavior
          (so they never become wider than their parent)
        </div>
        <div class="h2 mt-5" id="responsive_image">
          <a href="#responsive_image">Responsive Image</a>
        </div>
        <div class="regular-text-container">
          To make your image responsive, add "image-responsive" class to your
          image element. It will make your image responsive, will always take
          dimensions of your container and will adjust according to it.
        </div>
        <div class="example-container flex-row">
          <img
            class="image-responsive"
            src="../assets/responsive-image.jpg"
            alt="responsive-image"
          />
        </div>
        <div class="code-container">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=yeti&wt=sharp&l=javascript&width=680&ds=false&dsyoff=100px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Fira+Code&fs=18px&lh=141%25&si=false&es=2x&wm=false&code=%253Cimg%250A%2520%2520class%253D%2522image-responsive%2522%250A%2520%2520src%253D%2522..%252Fassets%252Fresponsive-image.jpg%2522%250A%2520%2520alt%253D%2522responsive-image%2522%250A%252F%253E"
            style="
              width: 100%;
              height: 200px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
        <div class="h2 mt-5" id="circular_image">
          <a href="#circular_image"> Circular Image</a>
        </div>
        <div class="regular-text-container">
          To make your responsive image circular add "image-round" class to it.
        </div>
        <div class="example-container flex-row">
          <img
            class="image-responsive image-round"
            src="../assets/responsive-image.jpg"
            alt="responsive-image"
          />
        </div>
        <div class="code-container">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=yeti&wt=sharp&l=javascript&width=680&ds=false&dsyoff=100px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Fira+Code&fs=18px&lh=141%25&si=false&es=2x&wm=false&code=%253Cimg%250A%2520%2520class%253D%2522image-responsive%2520image-round%2522%250A%2520%2520src%253D%2522..%252Fassets%252Fresponsive-image.jpg%2522%250A%2520%2520alt%253D%2522responsive-image%2522%250A%252F%253E"
            style="
              width: 100%;
              height: 200px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
        <div class="h2 mt-5" id="images_with_different_sizes">
          <a href="#images_with_different_sizes"> Image With Different Size</a>
        </div>
        <div class="regular-text-container">
          You can also have different sizes for your responsive images. use
          "image-small", "image-medium", "image-large" to make them of a certain
          size that they can be contained with. You can use it with circular
          images as well.
        </div>
        <div class="example-container flex-row">
          <img
            class="image-responsive image-small"
            src="../assets/responsive-image.jpg"
            alt="responsive-image"
          />
          <img
            class="image-responsive image-medium image-round"
            src="../assets/responsive-image.jpg"
            alt="responsive-image"
          />
          <img
            class="image-responsive image-large"
            src="../assets/responsive-image.jpg"
            alt="responsive-image"
          />
        </div>
        <div class="code-container">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=yeti&wt=sharp&l=javascript&width=680&ds=false&dsyoff=100px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Fira+Code&fs=18px&lh=141%25&si=false&es=2x&wm=false&code=%253Cimg%250A%2520%2520class%253D%2522image-responsive%2520image-small%2522%250A%2520%2520src%253D%2522..%252Fassets%252Fresponsive-image.jpg%2522%250A%2520%2520alt%253D%2522responsive-image%2522%250A%252F%253E%250A%253Cimg%250A%2520%2520class%253D%2522image-responsive%2520image-medium%2520image-round%2522%250A%2520%2520src%253D%2522..%252Fassets%252Fresponsive-image.jpg%2522%250A%2520%2520alt%253D%2522responsive-image%2522%250A%252F%253E%250A%253Cimg%250A%2520%2520class%253D%2522image-responsive%2520image-large%2522%250A%2520%2520src%253D%2522..%252Fassets%252Fresponsive-image.jpg%2522%250A%2520%2520alt%253D%2522responsive-image%2522%250A%252F%253E"
            style="
              width: 100%;
              height: 438px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
      </section>
      <section class="list-of-contents">
        <span class="h3 mb-2 pb-2">On This Page</span>
        <ul class="content-list">
          <li class="content-item"><a href="#image">Image</a></li>
          <li class="content-item">
            <a href="#responsive_image">Responsive Image</a>
          </li>
          <li class="content-item">
            <a href="#circular_image">Circular Image</a>
          </li>
          <li class="content-item">
            <a href="#images_with_different_sizes">Image With Different Size</a>
          </li>
        </ul>
      </section>
    </main>
    <footer class="footer">
      <p class="footer-text">Made with ❤ by Nikhil <br /></p>

      <div class="social">
        <a href="https://www.linkedin.com/in/nikhil-sharma-nks/" target="_blank"
          ><i class="fab fa-linkedin fa-2x"></i
        ></a>
        <a href="https://github.com/nikhil-sharma-nks" target="_blank"
          ><i class="fab fa-github fa-2x"></i
        ></a>
        <a href="https://twitter.com/wannabe_nikhil" target="_blank"
          ><i class="fab fa-twitter fa-2x"></i
        ></a>
        <a href="https://www.facebook.com/nikhilshawarma/" target="_blank">
          <i class="fab fa-facebook fa-2x"></i
        ></a>
        <a href="https://www.instagram.com/nikhil.shawarma/" target="_blank"
          ><i class="fab fa-instagram fa-2x"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
