/* NAVBAR */
.navbar-container {
  background: var(--primary-color);
  box-shadow: 12px 12px 20px 2px rgba(0, 0, 0, 0.2);
  height: 4rem;
  z-index: 2;
  border-radius: 0 0 10px 10px;
  position: sticky;
  top: 0;
}

.navbar-container .navbar {
  height: 100%;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.navbar-container .navbar .links-container {
  display: flex;
}

.navbar-container .navbar .links-container a {
  margin-left: 1rem;
}

.navbar-container .navbar .navbar-header {
  display: flex;
  font-size: 2rem;
  align-items: center;
}
.navbar-container .navbar .navbar-header .nav-logo {
  height: 3rem;
  margin-right: 1rem;
}

/* MAIN CONTENT */
.main-content {
  color: var(--black);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

/* ASIDE-COMPONENT DRAWER */
.main-content .component-drawer {
  padding: 1rem;
  overflow: auto;
  height: calc(100vh - 4rem);
  position: sticky;
  top: 4rem;
}

.main-content .component-drawer .component-item {
  font-weight: var(--font-light);
  margin: 0.5rem 0;
}

.main-content .component-drawer .component-drawer-header {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--primary-color);
}

.main-content .component-drawer .component-link {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 0 0.5rem 1.5rem;
  transition: all 0.1s ease-in;
  font-size: 1.25rem;
  border-radius: 0 50px 50px 0;
}

.main-content .component-drawer .component-link:hover,
.main-content .component-drawer .current-component {
  background-color: var(--primary-color);
  color: #fff;
}

.main-content .content {
  grid-column: 2 / span 3;
  padding: 2rem 0 2rem 2rem;
}

.main-content .list-of-contents {
  position: sticky;
  top: 0;
  max-height: 90vh;
  grid-column: 5;
  display: flex;
  flex-direction: column;
  padding: 2rem 0 2rem 5rem;
}

.main-content .list-of-contents .h3 {
  border-bottom: 1px solid var(--black);
}

.main-content .list-of-contents .content-list .content-item {
  color: var(--primary-color);
  padding: 0.5rem 0;
}
.main-content .list-of-contents .content-list .content-item a:hover {
  border-bottom: 1px solid var(--black);
}

/* FOOTER */
.footer {
  border-radius: 10px 10px 0 0;
  height: 5rem;
  background: var(--primary-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .social .fab {
  border-radius: 50%;
  text-align: center;
  padding: 0.5rem;
  transition: all 0.3s ease;
}

.footer .social .fab:hover {
  background-color: #fff;
  color: var(--primary-color);
  cursor: pointer;
}

/* UTILITIES */

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}

.component-description {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: var(--font-light);
}

.regular-text-container {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: var(--font-light);
}

.example-container {
  background-color: var(--bg-grey);
  padding: 2rem;
  margin: 1rem 0;
}

.code-container {
  background-color: var(--bg-grey);
}

.intoduction-container {
  display: flex;
  height: calc(100vh - 9rem);
}

.intoduction-container .hero-img {
  width: 50vw;
  padding: 4rem;
}
.intoduction-container .intro-text {
  width: 40vw;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1526px) {
  .navbar-container .navbar {
    width: 80%;
    margin: 0 auto;
  }
  .main-content {
    width: 80%;
  }
  .main-content .component-drawer {
    padding: 1rem 1rem 1rem 0;
  }
}
