@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap');
:root {
  font-family: 'Inter', sans-serif;
  --font-light: 300;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-black: 900;

  /* COLORS */
  --primary-color: #3f37c9;
  --secondary-color: #00afb9;
  --success: #4caf50;
  --error: #f05454;
  --warning: #ff9f45;
  --white: #fff;
  --black: #212529;
  --bg-grey: #eceae8;
  --text-grey: #9a9a9a;
}
